body {
    background-color: #000000;
    border: 1px solid rgb(255, 255, 255);
    width: 910px;
}

header {
    background-color: rgb(255, 255, 255);
}

img {
    width: 250px;
    
}

.na {
    margin-top: 1px;
    color: rgb(121, 121, 121);
}

.nav-link {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 10px 100px 10px 95px;
    justify-content: space-between;
    display: flex;
}

h1 {
color: white;
font-size: 27px; 
font-family: monospace;
text-align: left;
}

h2 {
    text-align: center;
    font-family: cursive;
}

article {
    background-color: white;
    padding: 8px;
    width: 250px;
    margin: 15px;
    border: 2px dashed rgb(0, 0, 0);
}

.pet {
    color: #1b1b1b;
    border: 1px dotted rgb(121, 121, 121);
    margin: 2px;
    background-color: #d1d1d1;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
    
}

h3 {
    background-color: white;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    border-top: 4px dotted black;
    border-bottom: 4px dotted black;
}

footer {
    background-color: rgb(255, 255, 255);
    width: 898px;
    font-size: 20px;
    border: 2px dotted black;
}

.foto {
    width: 898px;
    
}

.inst {
    width: 50px;
}

span {
    color: rgb(255, 70, 3);
}

.cho {
font-family: cursive;
}

.tex {
    color: #000000;
    font-size: 20px;
}

.jj {
    background-color: rgb(255, 255, 255);
    border: 3px dotted rgb(0, 0, 0);
}

.h {
    font-size: 29px;
    background-color: white;
    color: #000000;
    text-align: center;
}

.t {
    color: #ffffff;
    border: 2px solid red;
    font-size: 20px;
    text-align: center;
}
